@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there! Welcome to my web-project</h1>
    <p>I'm building this website for my learning purpose' 
        <a href="https://github.com/Nasim-uzzaman">You can explore my profile here</a>
    </p>
</div>
